body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gainsboro;
}

#app {
    margin: 0 auto;
    width: 330px;
    height: 330px;
    border: 5px ridge rgb(143, 86, 130);
}

.gridblock {
    display: inline-block;
    border: 1px solid white;
    transition-duration: 0.2s;
    color: rgb(32, 221, 32);
    font-weight: 700;
    box-sizing: border-box;
}

form {
    margin: 15px 0 0 0;
}

#getPic, #pictureCutter {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    text-align: center;
}